<nav>
    <div class="site-title">
        <a href="/"><h1>Blog Sandbox</h1></a>
        <p>A hip place for devs to hang virtually!</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>