<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>

        <%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h2>About Us</h2>
            <p>His palms are sweaty, knees weak, arms are heavy
                There's vomit on his sweater already, mom's spaghetti
                He's nervous, but on the surface he looks calm and ready
                To drop bombs, but he keeps on forgettin</p>
            <p>What he wrote down, the whole crowd goes so loud
                He opens his mouth, but the words won't come out
                He's chokin now, everybody's jokin now
                The clock's run out, time's up over, blouww!</p>
            <p>Snap back to reality, Oh there goes gravity
                Oh, there goes Rabbit, he choked
                He's so mad, but he won't give up that
                Is he? No
                He won't have it , he knows his whole back city's ropes
                It don't matter, he's dope
                He knows that, but he's broke</p>
            <p>He's so stacked that he knows
                When he goes back to his mobile home, that's when it's
                Back to the lab again yo
                This whole rhapsody
                He better go capture this moment and hope it don't pass him</p>
        </div>

        <%- include('./partials/footer.ejs') %>

    </body>
</html>